    <%- include ('../parcial/header.ejs') ;%>

    <header>
                <nav class="menuPrincipal">
                        <ul>
                                <li><a href="/">Início</a></li>
                                <li><a href="/classificados/classificadosMenu">Voltar</a></li>
                                <li><a href="#">VolksWagem</a></li>
                                <li><a href="/classificados/classificadosAutomovelChevroletMenu"">Chevrolet</a></li>
                                <li><a href="#"">Fiat</a></li>
                        </ul>
                </nav>
    </header>

    <div id='corpo'>

            <%= titulo %>
           

    </div>

    <%- include ('../parcial/footer.ejs') ;%>

